.container {
  margin-left: 20em;
  margin-right: 20em;
}

.app {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.input {
  flex-direction: column;
}

.output {
  flex-direction: column;
}
